dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
**/.env
.env.example
docker-compose.yaml
svelte.config.js
tsconfig.json
vite.config.tsconfig
.prettierignore
playwright.config.ts
