@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
    --font-ibm-plex: "IBM Plex Sans", sans-serif;
    --font-fira-sans: "Fira Sans", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --color-pitch-black: #12100E;
    
    --color-error: #B80C09;
    --color-error-dark: #DD614A;
    --color-success: #4A7C59;
    --color-success-dark: #AFC185;
    --color-background: #ECE2D0;
    --color-background-dark: #252627;
    --color-foreground: #252627;
    --color-foreground-dark: #ECE2D0;
    --color-shadow: #D9D3D4;
    --color-shadow-dark: #4C4244;
    --color-hover: #4F5D2F;
    --color-hover-dark: #95AD5C;
}